body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#0077cc;
    color:white;
    text-align:center;
    padding:20px;
}

nav{
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

main{
    padding:30px;
    background:white;
    width:80%;
    margin:20px auto;
    border-radius:10px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}