<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar</title>
</head>
<body>

<h1>Editar Livro</h1>

<form method="POST">

<input type="text" name="titulo" value="{{ livro.titulo }}"><br><br>

<input type="text" name="autor" value="{{ livro.autor }}"><br><br>

<input type="text" name="ano" value="{{ livro.ano }}"><br><br>

<input type="text" name="categoria" value="{{ livro.categoria }}"><br><br>

<input type="number" name="quantidade" value="{{ livro.quantidade }}"><br><br>

<button>Salvar</button>

</form>

</body>
</html>