<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Pedidos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand" href="/">FoodExpress</a>

            <div>

                <a href="/" class="btn btn-warning">Home</a>

                <a href="/cardapio" class="btn btn-primary">Cardápio</a>

                <a href="/cliente/Ana/Natal" class="btn btn-info">
                    Cliente
                </a>

                <a href="/contato" class="btn btn-danger">
                    Contato
                </a>

            </div>

        </div>

    </nav>

    <div class="container mt-5">

        <h1>Lista de Pedidos</h1>

        <table class="table table-striped table-hover">

            <thead class="table-dark">

                <tr>

                    <th>Cliente</th>
                    <th>Pedido</th>
                    <th>Valor</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td>Ana</td>
                    <td>Pizza</td>
                    <td>R$45</td>

                </tr>

                <tr>

                    <td>Pedro</td>
                    <td>X-Burguer</td>
                    <td>R$30</td>

                </tr>

                <tr>

                    <td>Maria</td>
                    <td>Milkshake</td>
                    <td>R$20</td>

                </tr>

            </tbody>

        </table>

        <a href="/cardapio" class="btn btn-success">

            Fazer Novo Pedido

        </a>

    </div>

</body>

</html>